@import 'lib/mixins';
@import 'lib/vars';

@import 'partials/header';
@import 'partials/content';
@import 'partials/footer';
@import 'partials/modal';

html, body {
  margin:0;
  padding: 0;

  font-family: $font-family-base;
  font-size: $font-base;
  //overflow:hidden;
}

html {
  background: url("../images/tablet2.png") center no-repeat, url("../images/lab.png") no-repeat center center;
  background-color: #c8b197;
  background-size: contain, cover;
}

.App {
    overflow: scroll;
    padding: 7.1vh 16vw;
    border-radius: 0.25rem;
    display: grid;
    justify-content: stretch;
    align-content: stretch;
    grid-template-rows: 15% 70% 15%;
    height: 85.8vh;
    display: flex;
    flex-direction: column;

}
.full_content{
  flex: 1;
  overflow: auto;
}
p {
  margin: 0;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}


@media (max-width: 1280px) {
  .App {
      grid-template-rows: 12% 78% 10%;
    }
}


.buttonleft svg, .buttonright svg{
  width: 2rem !important;
}