.fade-enter {
  opacity: 0.01;
}
.fade-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.fade-leave {
  opacity: 1;
}
.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
.dark-opacity {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 1;
  @include hand_cursor;
}

.modal {
  z-index: 2;
  color: black;
  width: 60%;
  left: 50%;
  top: 50%;
  @include transform (translate(-50%, -50%));
  position: fixed;
  background-color: white;
  font-size: 1.7em;
  padding-bottom: 1em;
  max-height: 26em;
  overflow-y: auto;
  .modal-box {
    margin: 1em;
    .close-modal-cross {
      @include flex;
      justify-content: flex-end;
    }
    .control {
      fill: black;
      font-size: .8em;
      &.control_cross {
        font-size: .6em;
        @include hand_cursor;
        &:hover {
          @include hover_scale_rotation;
          fill: $red;
        }
      }
    }
    .modal-content {
      margin: .3em 1.5em 1.5em;
      .modal-title {
        font-weight: bold;
        &.modal-title-end {
          font-size: 2em;
          text-align: center;
        }
      }
      .modal-text {
        .task-list {
          margin-bottom: 1em;
          .list-title {
            font-weight: bold;
            @include flex;
            justify-content: flex-start;
            @include hand_cursor;
            .list-title-text {
              margin: 0;
            }
          }
          .control {
            @include hand_cursor;
            &.control_plus {
              margin-left: 3em;
              margin-top: .2em;
              font-size: .7em;
              //.path03
                //@include transform (rotate(90deg))
                //@include transform-origin (50% 50%)
              &:hover {
                @include hover_scale;
              }
            }
          }
          .individual_task {
            @include flex;
            justify-content: space-between;
            .individual_task_text {
              @include hand_cursor;
              &:hover {
                color: $secondarycolor;
              }
            }
            .task-icons {
              .control {
                @include cursor;
                &.control_feedback {
                  font-size: .6em;
                  fill: $gray;
                  &:first-child {
                    margin-right: .5em;
                  }
                  &.right {
                    fill: $green;
                  }
                  &.wrong {
                    fill: $red;
                  }
                }
              }
            }
          }
        }
        .final_score {
          margin-top: 1em;
          @include flex;
          justify-content: space-around;
          color: $secondarycolor;
          font-weight: bold;
          .individual_score {
            @include column-flex;
            justify-content: center;
            .number_score {
              font-size: 2em;
            }
            .text_score {
              font-size: 1.5em;
            }
          }
        }
        .text-questions {
          margin-bottom: 1em;
        }
        .icon_list {          //@include cursor
          li {
            display: flex;
            margin-bottom: .2em;
            .control {
              margin-right: .5em;
            }
          }
        }
        .license_logo {
          width: 2.5em;
          margin-left: .3em;
          vertical-align: middle;
        }
      }
      .e_logo {
        width: 4.2em;
      }
      .logos {
        @include flex;
        justify-content: space-around;
        margin-top: 1.5em;
        margin-bottom: 1.5em;
        padding: 0 2em;
        .logo {
          @include hand_cursor;
          &.upm_logo {
            width: 3em;
          }
          &.orange_logo {
            width: 2.5em;
          }
          &.incibe_logo {
            width: 7em;
          }
          &.crif_logo {
            width: 4.5em;
          }
          @include transition (all 300ms cubic-bezier(0.4, 0, 0.2, 1));
        }
      }
      .modal-actions {
        @include flex;
        justify-content: space-between;
        .btn {
          @include hand_cursor;
          font-weight: bold;
          @include transition (all 300ms cubic-bezier(0.4, 0, 0.2, 1));
          &.btn-green {
            color: $green;
          }
          &.btn-red {
            color: $red;
          }
          &:hover {
            @include hover_opacity;
          }
        }
      }
    }
  }
}
@media (max-width: 1366px) and (orientation: landscape) {
  .modal {
    width: 70%;
  }
}


@media (max-width: 1280px) {
  .modal {
    .modal-box {
      .modal-content {
        .modal-title {
          &.modal-title-end {
            font-size: 1.7em;
          }
        }
      }
    }
  }
}
@media (max-width: 1024px) {
  .modal {
    width: 80%;
    font-size: 1.3em;
    max-height: 80vh;
    .modal-box {
      .modal-content {
        .logos {
          padding: 0;
        }
        .modal-title {
          &.modal-title-end {
            font-size: 1.7em;
          }
        }
      }
    }
  }
}
@media (max-width: 1024px) and (orientation: landscape) {
      .modal-content {
        width: 70%;
        font-size: 1.3em;
        max-height: 80vh;
        .modal-title {
          &.modal-title-end {
            font-size: 1.7em;
          }
        }
      }
}
@media (max-width: 812px) and (orientation: landscape) {  //iPhone X

  .modal {
    width: 65vw;
    font-size: .8em;
    max-height: 70vh;
    .modal-box {
      .modal-content {
        .modal-title {
          &.modal-title-end {
            font-size: 2em;
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .modal {
    font-size: 1.3em;
    .modal-box {
      .modal-content {
        .modal-title {
          &.modal-title-end {
            font-size: 1.5em;
          }
        }
      }
    }
  }
}
@media (max-width: 736px) and (orientation: landscape) {
  .modal {
    width: 70vw;
    font-size: .8em;
    max-height: 70vh;
  }
}


@media (max-width: 600px) {
  .modal {
    font-size: 1em;
    .modal-box {
      .modal-content {
        .modal-title {
          &.modal-title-end {
            font-size: 1.5em;
          }
        }
      }
    }
  }
}
@media (max-width: 480px) {
  .modal {
    width: 85vw;
    font-size: .8em;
    max-height: 60vh;
  }
}



@media (max-width: 320px) {
  .modal {
    .modal-box {
      .modal-content {
        .logos {
          .logo {
            &.upm_logo {
              width: 2.5em;
            }
            &.orange_logo {
              width: 2em;
            }
            &.incibe_logo {
              width: 6.5em;
            }
            &.crif_logo {
              width: 4em;
            }
          }
        }
      }
    }
  }
};
