@import 'lib/mixins';
@import 'lib/vars';

@import 'partials/content';
@import 'partials/footer';
@import 'partials/modal';

html, body {
  margin:0;
  padding: 0;
  font-family: $font-family-base;
  font-size: $font-base;
  //overflow:hidden;
  width: 100vw;
  height: 100vh;
}

body {
  background-image: url(https://vishub.org/pictures/27551.png);
  background-size: cover;
  /* padding: 0vh 24vw 0vh 11vw;*/
  background-repeat: no-repeat;
  background-position: center center;
}

.App {
  overflow: auto;
  padding: 5vh 12vw;
  height: 77vh;
  width: 53vw;
  border-radius: .25rem;
  background: transparent;
}

 
button {
  background: none;
  border: none;
  cursor: pointer;
}

 


     
        .container {
            width: 80%;
            margin: 0 auto;
            padding: 20px;
        }
        .header {
            background-color: #4CAF50;
            color: white;
            padding: 10px 0;
            text-align: center;
        }
        .section {
            background-color: white;
            margin: 20px 0;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .section h2 {
            margin-top: 0;
        }
        .pie-chart-container {
            position: relative;
            margin: 20px auto;
            overflow: hidden;
        }
        .pie-chart {
            position: relative;
            width: 200px;
            height: 200px;
            border-radius: 50%;
            clip: rect(0, 200px, 200px, 100px);
        }
        .pie-chart .slice {
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            clip: rect(0, 100px, 200px, 0);
        }
        .pie-chart .swedish {
            background-color: #4CAF50;
            transform: rotate(153deg);
        }
        .pie-chart .jewish {
            background-color: #FF5733;
            transform: rotate(180deg);
        }
        .pie-chart .other {
            background-color: #C70039;
            transform: rotate(9deg);
        }
        .probability-bar {
            display: flex;
            align-items: center;
            margin: 10px 0;
        }
        .probability-bar span {
            display: inline-block;
            width: 200px; 
        }
        .probability-bar  .bar {
            height: 100%;
            background-color: #4CAF50;

        }
        .probability-bar  .pctg-tag {
            width: 100px;
        }
        .probability-bar > div {
            height: 20px;
            margin-left: 10px;
            flex: 1;
        }
        .health-list, .traits-list, .wellness-list {
            padding: 10px 0;
        }
        /* RESET STYLES
        –––––––––––––––––––––––––––––––––––––––––––––––––– */

        .chart-skills {
          margin: 0 auto;
          padding: 0;
          list-style-type: none;
        }

        .chart-skills *,
        .chart-skills::before {
          box-sizing: border-box;
        }


        /* CHART-SKILLS STYLES
        –––––––––––––––––––––––––––––––––––––––––––––––––– */

        .chart-skills {
          position: relative;
          width: 350px;
          height: 175px;
          /*overflow: hidden;*/
        }

        .chart-skills::before,
        .chart-skills::after {
          position: absolute;
        }

        .chart-skills::before {
          content: '';
          width: inherit;
          height: inherit;
          border: 45px solid rgba(211, 211, 211, .3);
          border-bottom: none;
          border-top-left-radius: 175px;
          border-top-right-radius: 175px;
        }

        .chart-skills::after {
          content: '100% You';
          left: 50%;
          bottom: 10px;
          transform: translateX(-50%);
          font-size: 1.1rem;
          font-weight: bold;
          color: cadetblue;
        }

        .chart-skills li {
          position: absolute;
          top: 100%;
          left: 0;
          width: inherit;
          height: inherit;
          border: 45px solid;
          border-top: none;
          border-bottom-left-radius: 175px;
          border-bottom-right-radius: 175px;
          transform-origin: 50% 0;
          transform-style: preserve-3d;
          backface-visibility: hidden;
          animation-fill-mode: forwards;
          animation-duration: .4s;
          animation-timing-function: linear;
        }

        .chart-skills li:nth-child(1) {
          z-index: 4;
          border-color: #9E0059;
          animation-name: rotate-one;
        }

        .chart-skills li:nth-child(2) {
          z-index: 3;
          border-color: #FF0054;
          animation-name: rotate-two;
          animation-delay: .4s;
        }

        .chart-skills li:nth-child(3) {
          z-index: 2;
          border-color: #FF5400;
          animation-name: rotate-three;
          animation-delay: .8s;
        }

        .chart-skills li:nth-child(4) {
          z-index: 1;
          border-color: #FFBD00;
          animation-name: rotate-four;
          animation-delay: 1.2s;
        }

        .chart-skills span {
          position: absolute;
          font-size: .85rem;
          backface-visibility: hidden;
          animation: fade-in .4s linear forwards;
        }

        .chart-skills li:nth-child(1) span {
          top: 30px;
          left: -130px;
          transform: rotate(-21.6deg);
        }

        .chart-skills li:nth-child(2) span {
          top: 120px;
          left: -50px;
          transform: rotate(-79.2deg);
          animation-delay: .4s;
        }

        .chart-skills li:nth-child(3) span {
          top: 20px;
          left: -115px;
          transform: rotate(-140.4deg);
          animation-delay: .8s;
        }

        .chart-skills li:nth-child(4) span {
          top: 32px;
          left: -154px;
          transform: rotate(-180deg);
          animation-delay: 1.2s;
        }


        /* ANIMATIONS
        –––––––––––––––––––––––––––––––––––––––––––––––––– */

        @keyframes rotate-one {
          100% {
            transform: rotate(21.6deg);
            /**
             * 12% => 21.6deg
             */
          }
        }

        @keyframes rotate-two {
          0% {
            transform: rotate(21.6deg);
          }
          100% {
            transform: rotate(79.2deg);
            /**
             * 32% => 57.6deg 
             * 57.6 + 21.6 => 79.2deg
             */
          }
        }

        @keyframes rotate-three {
          0% {
            transform: rotate(79.2deg);
          }
          100% {
            transform: rotate(140.4deg);
            /**
             * 34% => 61.2deg 
             * 61.2 + 79.2 => 140.4deg
             */
          }
        }

        @keyframes rotate-four {
          0% {
            transform: rotate(140.4deg);
          }
          100% {
            transform: rotate(180deg);
            /**
             * 22% => 39.6deg  
             * 140.4 + 39.6 => 180deg
             */
          }
        }

        @keyframes fade-in {
          0%,
          90% {
            opacity: 0;
          }
          100% {
            opacity: 1;
          }
        }
/* src/components/RiskTable.css */

.risk-table {
  font-family: Arial, sans-serif;
}

.risk-table h2 {
  margin-top: 20px;
  font-size: 1.5em;
}

.risk-table button {
  margin: 5px;
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  font-size: 1em;
}

.risk-table button:focus {
  outline: none;
}

.risk-table button:hover {
  background-color: #0056b3;
}

.risk-table button.sort-ascending::after {
  content: ' ↑';
}

.risk-table button.sort-descending::after {
  content: ' ↓';
}

/* Additional styling for buttons */
.risk-table .active-sort {
  font-weight: bold;
}

/* Style for the accordions */
.accordion {
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 10px 
 }

.accordion-header {
  background: #f7f7f7;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  user-select: none;
}

.accordion-header h3 {
  margin: 0;
}

.accordion-icon {
  font-size: 1.5em;
}

.accordion-content {
  padding: 10px;
  background: #fff;
  border-top: 1px solid #ddd;
}

/* src/App.css */

.App {
  font-family: Arial, sans-serif;
  margin: 20px;
}

h2 {
  margin-top: 20px;
}

button {
  cursor: pointer;
}

.MuiAccordion-root {
  margin: 10px 0;
}

.logo {
  float:right;
  width: 100px;

}


.maintitle {

  margin: 0 !important;
}



.table-container {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.table-container th,
.table-container td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.table-container th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.table-container tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table-container tr:hover {
  background-color: #f1f1f1;
}

.meta-analysis {
  color: #2a9df4;
  font-weight: bold;
}

.subheader {
  background-color: #e9ecef;
  font-weight: bold;
}



.bloc {
    position: fixed;
    z-index: 10000;
    bottom: 0%;
    right: 0%;
    display: block;
    width: 35%; 
    font-family: "Cambria", mono;
    transition: bottom 0.4s;
    .bloc_content {
      position: absolute;
      width: 60%;
      top: 20%;
      left: 20%;
      font-size: 1.8em;
      font-size: 2.2vw;
    }
    &.show {
      bottom: -10%;
      visibility: visible;
    }

    input#bloc_input {
      background: transparent;
      font-size: 2.5em;
      font-size: 2.3vw;
      display: block;
      font-family: inherit;
      font-size: inherit;
      margin-top: 11%;
      border: none; /* Removes the default border */
      &:focus {
          outline: none;
        }
        line-height: 110%;
        padding: 0;

        &::placeholder {
          color: #777;
        }

    }
    p.danger {
      color: tomato;
      font-family: monospace;
      font-size: 1em;
      font-size: 1.2vw;
    }

    p.success {
      color: #3ECA6B;
      font-family: monospace;
      font-size: 1em;
      font-size: 1.2vw;
      
    }

    .continue {
      background: black;
      border: none;
      padding: .2em .5em;
      color: white;
      font-family: inherit;
      font-size: 0.8em;
      cursor: pointer;

    }  
  }

.malditaHint {
  background: rgba(255,10,20,0.85);
  line-height: 1.2;
  padding: 0.4em .8em;
  position: fixed;
  z-index: 10000;
  bottom: 60px;
  left: 20px;
  display: none;
  color: black;
  font-size: 0.88em;
  width: 50%;
  &.show {
    display: inline-block;
  }

   a {
    color: black !important;
    font-weight: 700;
  }

}


.ancestry-results  {
  margin: 20px auto;
  width: 50%;
  max-width:400px;
  text-align: center;
}

h2 {
  color: #333;
}

.ancestry-title {
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f7f7f7;
  margin-top: 5px;
  border-radius: 5px;
}

.ancestry-details {
  padding: 10px;
  border: 1px solid #ccc;
  border-top: none;
  margin-bottom: 10px;
  background-color: #e9ecef;
  border-radius: 0 0 5px 5px;
}

#bloc_input {
  height: 2em;
  background: transparent;
  border: 2px solid black;
  font-family: inherit;
  font-size: .6em;
}



table.results {
      border-collapse: collapse;
      width: 100%;
      background-color: transparent;
 
    th, td {
      text-align: left;
      padding: 12px;
      border: 1px solid #ddd;
      vertical-align: top;
    }
    th {
      background-color: #0000ff50;
    }
    tr:hover {
      background-color: #f1f1f1;
    }
    
    a {
      color: #0056b3;
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
}

.footer-note {
      margin-top: 20px;
      font-size: 14px;
    }
