.Notification {
	--bg1: rgba(243, 243, 243, 0.85);
	--bg2: rgba(255, 255, 255, 0.67);
	position: fixed;
	top: 20px;
	right: 0;
	padding: 1.8em;
	font-weight: bolder;
	.uicon {
		float: left;
		margin-right: 10px;
	}
	box-shadow: 2px 2px 20px var(--clrPrm);
	color: var(--dark-txt);
	background: var(--bg1);
	-webkit-backdrop-filter: saturate(3) blur(20px);
	backdrop-filter: saturate(3) blur(20px);
	visibility: hidden;
	width: 0px;
	transition: width 0.5s;
}

body[data-theme="dark"] {
  .Notification {
    --bg1: rgba(32, 32, 32, 0.75);
    --bg2: rgba(255, 255, 255, 0.1);
  }
}

.showNotification {
	visibility: visible;
	width: 230px;
}

