.modal_content {
  background-color: #fafafa;
  width: 50%;
  border-radius: .5rem;
  padding: 1.5rem;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .modal_info {
    margin-bottom: 1rem;
  }

  .outerfeedback {
    display: flex;
    min-height: 100%;
    flex-direction: column;
  }

  .rowfeedback {
    display: flex;
    flex: 1;
  }

  .itemfeedback {
    display: flex;
    flex: 1;
    align-content: flex-start;
    column-gap: 10px;
    align-items: center;
    min-width: 0;
  }

  .wrongfeedback {
    border: 0.15rem solid #c41e1e;
    background-color: rgba(196, 30, 30, 0.15);
  }

  .correctfeedback {
    border: 0.15rem solid #1ec41e;
    background-color: rgba(30, 196, 30, 0.15);
  }

  .imgfeedback {
    flex: 1;
    max-width: 30%;
  }

  .textfeedback {
    flex: 3;
  }

  .instructions {

    margin-bottom: 2rem;

    .step_one {

      display: flex;
      justify-content: space-between;

      p {
        width: 50%;
      }

      .buttons_selections {

        .buttonno {

          @include button-selected($true);
          margin-bottom: .5rem;

        }
        .buttonyes {

          @include button-selected($false);
          margin-left: .5rem;

        }
      }
    }

    .step_two {

      display: flex;
      justify-content: space-between;
      margin-top: 1rem;

      p {
        width: 50%;
      }

      .button_submit {

        button.buttonsubmit {

          display: flex;
          align-items: center;
          justify-content: center;

          @include button($false, $white, 1);

          svg {
              width: 1rem;
              fill: $white;
              margin-right: .5rem;
          }
        }
      }
    }
  }

  .continue {
    display: flex;
    justify-content: space-around;

    button {
      @include button($black, $white, $hover-opacity);
    }

  }

  .close_modal {
    position: absolute;
    top: 1rem;
    right: 1rem;

    display: flex;
    align-items: center;

    .close_modal_icon {
      cursor: pointer;
      width: .75rem;
    }

  }
}



@media (max-width: 1280px) {
      .modal_content {
        width: 85%;
        max-height: 85vh;
        overflow: auto;
        padding: 1rem;
        h2 {
            font-size: 1.4em;
        }        
        .instructions {
          margin-bottom: 0rem;
          h4 {
            margin-block-end: 0.5em;
          }
          .step_two {
            margin-top: 0rem;
          }
        }


      }
}
