@import 'lib/mixins';
@import 'lib/vars';

@import 'partials/header';
@import 'partials/content';
@import 'partials/footer';
@import 'partials/modal';

html, body {
  margin:0;
  padding: 0;

  font-family: $font-family-base;
  font-size: $font-base;
  //overflow:hidden;
}

html {
  background: url("../images/tablet.jpg") no-repeat center center fixed;
  background-color: #c8b197;
  background-size: 100% 100%;
}

.App {
  //height: 100vh;
  overflow: scroll;
  padding: 5vh 10vw;
  border-radius: .25rem;
  display: grid;
  justify-content: stretch;
  align-content: stretch;
  grid-template-rows: 15% 70% 15%;
  height: 90vh;

}

p {
  margin: 0;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}


@media (max-width: 1280px) {
  .App {
      grid-template-rows: 12% 78% 10%;
    }
}


#root {
  position:fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
  z-index: 9999;

}